<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>海南航空</title>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css" rel="stylesheet">
</head>

<body>
  <!-- header部分 -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2 left">
          <img src="/images/index/logo.png" alt="">
        </div>
        <div class="col-md-10 right">
          <div class="up">
            <ul>
              <li>
                <div class="input-group">
                  <input style="display: none;" type="text" class="form-control" placeholder="请输入搜索内容" style="height: 40px;" aria-describedby="basic-addon2">
                  <span class="input-group-addon headerSearch" id="basic-addon2 " style="width: 40px; height: 40px;"></span>
                </div>
              </li>
              <li>

                <span class="global"></span> 中国
                <span class="dian"></span> 中文
                <span class="glyphicon glyphicon-menu-down"></span>

              </li>
              <li>
                <i class="clientIcon"></i>
                <strong>在线客服</strong>
              </li>
              <li>
                <i class="phone"></i>
                <strong>95339</strong>
              </li>
              <li>
                <i class="download"></i>
                <strong>下载App</strong>
              </li>
            </ul>
          </div>
          <div class="down">
            <i class="userIcon" style="margin-right: 5px;"></i>
            <a href="#">登录</a>
            <i class="shujian"></i>
            <a href="#">注册</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header部分 -->

  <!-- nav部分 -->
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 navBar" style="height: 50px;">
          <ul class="nav nav-tabs" style="border:unset">
            <% for(let i=0;i<tabBars.length;i++){ %>
              <li role="presentation">
                <a href="#">
                  <%=tabBars[i] %>
                </a>
              </li>
              <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <section class="banner">
    <img style="display:block;" src="/images/index/W020200430534025494894.jpg" alt="">
    <img src="/images/index/W020210126564614594550.jpg" alt="">
    <img src="/images/index/W020210128596146937708.jpg" alt="">
    <img src="/images/index/W020210205565194817277.jpg" alt="">

    <div class="paginationBanner">

    </div>
    <div class="servieBox">
      <div class="container ">
        <div class="row">

          <div class="col-md-3 tabService"><i style="background-position: 0 -62px;"></i> 预订行程
            <div class="tabServiceItem"></div>
          </div>
          <div class="col-md-3 tabService"><i style="background-position: -85px -62px;"></i> 行程服务</div>
          <div class="col-md-3 tabService"><i style="background-position: -38px -62px;"></i> 订单管理</div>
          <div class="col-md-3 tabService"><i style="background-position: -125px -62px;"></i> 移动端</div>
        </div>
      </div>
    </div>
  </section>
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="/js/jquery.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index/index.js"></script>
</body>

</html>